nav {
    background-color:black ;
    color:white;

}

.menu {

    display: flex;
    align-items: center;
}

.menu li {
    width: 10%;
    list-style: none;
}

.menu a {
    text-decoration: none;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.logo {
    flex-grow: 4;
}

.logo img {

    width: 10%;
    margin: 1% 2% 1% 5% ;

}

.menu a:hover {

    background-color: black;
    color: blueviolet ;
    border: 2px blue solid;
    border-radius: 3px;


}